<a href="https://colab.research.google.com/github/GOURISSYAAM/Class-Assignment-1---Getting-Started-with-Python-Programming/blob/master/assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("name: GOURI S SYAAM")
print("address: 'Uthradam',TC 17/2052, Poojappura,tvm 12.")
print("phone: 8078112027")

name: GOURI S SYAAM
address: 'Uthradam',TC 17/2052, Poojappura,tvm 12.
phone: 8078112027

In [ ]:
name = "GOURI"
print ("your name is",name)

your name is GOURI

In [ ]:
width = int(input("enter the width:"))
height = int(input("enter the height:"))
area = width * height
print("the area is ",area)

enter the width:5
enter the height:50
the area is  250

In [ ]:
base = int(input("enter the base:"))
height = int(input("enter the height"))
area = 0.5 * base * height
print("area of the trianglr is ",area, "square units")

enter the base:4
enter the height3
area of the trianglr is  6.0 square units

In [ ]:
radius = float(input("enter the radius:"))
area = 3.14 * radius**2
print("area of the circlr:",area,"square units")

enter the radius:10
area of the circlr: 314.0 square units

In [ ]:
name = str(input("enter the name:"))
age = int(input("enter the age:"))
print ("name:",name,", age:",age)

enter the name:gouri
enter the age:18
name: gouri , age: 18

In [ ]:
a = int(input("enter a number:"))
print(a+1)
/

enter a number:3
4

when we entered the number 3 it is added with 1 and displayed 4.

In [ ]:
name = str(input("enter your first name:"))

enter your first name:gouri

after execution of the programme no output