<a href="https://colab.research.google.com/github/GOURISSYAAM/Class-Assignment-1---Getting-Started-with-Python-Programming/blob/master/session18.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python program to get the largest number from list

In [13]:
list=[1,2,-8,0,3,10]
max = list[ 0 ]
for a in list:
  if a > max:
    max = a
print(max)

10

Phython program to search a element in a list

In [6]:
list=[4,7,2,9,6]
b=int(input("enter the element"))

for i in list:
  if i==b:
    print(b," is found")
    break
else:
    print("Not found")

enter the element2
2  is found

phython program to sum all the items in a list

In [12]:
items=[9,5,8,9,10]
sum =0
for i in items:
  sum=sum+i
    
print("sum of the elemens is",sum)

sum of the elemens is 41

In [67]:
a=[1,2]
b=[3,4,5,6]
for i in a:
	for j in b:
		if i==j:
			print(i,"is common in both")
	     
else:
		 print("No common element found")

No common element found

To remove duplicate elemente from the list

In [68]:
def Remove(identical): 
	final= [] 
	for num in identical: 
		if num not in final: 
			final.append(num) 
	return final 
	
identical = [1,5,8,1,4,2,5,4,8,7,9,10]
print(Remove(identical))

[1, 5, 8, 4, 2, 7, 9, 10]

To append first list to second

In [69]:
p= [10,11,18]
q= ['green','flower','blue']
r = p +  q
print(r)

[10, 11, 18, 'green', 'flower', 'blue']

To check whether a number is composite or not

In [71]:
n=int(input("enter the number:")) 
factor=0
for i in range(1,n):
  if n%i==0:
    factor=i
if factor>1:
  print ('The number is a composite number!')
elif n==1:
  print ('The number 1 is neither prime nor composite!')
else:
  print ('This is not a composite number!')

enter the number:10
The number is a composite number!

To add two matrices

In [73]:
a = [[12,7,3],    [4 ,5,6],    [7 ,8,9]]
b = [[5,8,1],    [6,7,3],    [4,5,9]]

result = [[0,0,0],  [0,0,0],  [0,0,0]]

for i in range(len(a)):
   for j in range(len(a[0])):
       result[i][j] = a[i][j] + b[i][j]
print(result)

[[17, 15, 4], [10, 12, 9], [11, 13, 18]]

To check if a string is palindrome or not

In [ ]:
a=input("enter the string")
b=a[::-1]
index=0
while index < len(a):
  if a[index]==b[index]:
    index=index+1
    print(a," is palimdrone")
    break

  else:
    print(a ,"is not palimdrone")
    break

enter the stringmalayalam
malayalam  is palimdrone

To print multipilcation table of a number

In [78]:
def table(n,first,last): 
	for i in range (first, last+1): 
		print ("%d * %d = %d" % (n, i, n * i) )
number=int(input("enter the number for the muliplication table:"))
a=int(input("enter from where multiplicton begins:"))
b=int(input("enter where it should end;"))
table(number,a,b)

enter the number for the muliplication table:10
enter from where multiplicton begins:1
enter where it should end;10
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100